// App Global CSS
// ----------------------------------------------------------------

.text-brand-navy {
  color: $brand-navy !important;
}
.bg-brand-navy {
  background-color: $brand-navy !important;
}

.text-brand-light {
  color: $brand-light !important;
}
.bg-brand-light {
  background-color: $brand-light !important;
}

.text-brand-slate {
  color: $brand-slate !important;
}
.bg-brand-slate {
  background-color: $brand-slate !important;
}

body {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}
